@font-face {
  font-family: 'GothamRounded';
  src: url('../fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamRounded-Medium.otf')  format('opentype'),
	     url('../fonts/GothamRounded-Medium.woff') format('woff'), url('../fonts/GothamRounded-Medium.ttf')  format('truetype'), url('../fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded';
  src: url('../fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamRounded-Light.otf')  format('opentype'),
	     url('../fonts/GothamRounded-Light.woff') format('woff'), url('../fonts/GothamRounded-Light.ttf')  format('truetype'), url('../fonts/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded-Book';
  src: url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamRounded-Book.otf')  format('opentype'),
	     url('../fonts/GothamRounded-Book.woff') format('woff'), url('../fonts/GothamRounded-Book.ttf')  format('truetype'), url('../fonts/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Reset */

h1,h2,h3,p,ul{
    padding: 0;
    margin: 0;
}

ul{list-style: none;}

a,a:hover, a:focus{
    text-decoration: none;
}

body{
    font-family: 'GothamRounded';
}

/* Navigation */

.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse{ border: 0; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color: transparent;}

.navbar-toggle{margin-top: 12px; padding-right: 0;}

.navbar-default{
    border-bottom: solid 1px #f3f3f3;
    border-radius: 0;
    background-color: rgba(255,255,255,0.95);
    height: 58px;
    margin-bottom: 0;
}

.navbar-brand{
    width: 128px;
    height: 25px;
    display: inline-block;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    margin-top: 18px;
}

.navbar-default .navbar-nav>li>a{
    font-family: 'GothamRounded';
    font-size: 11px;
    color: #8c8c8c;
    letter-spacing: 1.7px;
    padding-left: 0;
    line-height: 11px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-default .navbar-nav>li:last-child>a{ 
    font-weight: 500;
    padding-right: 0;
}

.navbar-default .navbar-nav>li>a:hover{ 
    font-weight: 500;
    color: #8c8c8c;
}

.navbar-default .navbar-nav>li:last-child>a:hover{ color: #646464; }

/* Header */

header{
    background-color: #fbfbfb;
    padding-top: 10px;
}

.hero-bg{
    background-image: url(../img/hero-bg.jpg);
    -webkit-background-size: 980px;
    background-size: 980px;
    height: 447px;
    background-position: right;
    background-repeat: no-repeat;
}

.hero-content{
    margin-top: 142px;
    margin-left: 73px;
}

.hero-content h1{
    color: #5c5c5c;
    font-size: 28px;
    font-weight: 500;
}

.hero-content p{
    color: #707070;
    font-size: 16px;
    line-height: 1.88;
}

section.about{
    padding-top: 107px;
}

h2{
    letter-spacing: 0.2px;
    color: #232323;
    font-size: 22px;
    line-height: 22px;
}

.about p,
.text{
    line-height: 1.88;
    letter-spacing: 0.3px;
    color: #707070;
    font-size: 16px;
}

.about-us h2{
    margin-bottom: 46px;
}

.about-us p{
    max-width: 565px;
    margin: 0 auto;
}

.about-us{margin-bottom: 129px;}

.about-us-rows{
    border-top: solid 1px #f4f4f4;
    border-bottom: solid 1px #f4f4f4;
}

h3{
    font-size: 19px;
}

.about-us-rows h3{
    margin-top: 64px;
    margin-bottom: 21px;
}

.about-us-rows p b{font-weight: 500;}

.about-us-rows .row p{max-width: 400px;}

.about-us-rows .row:first-child p{max-width: 410px;}

.learn-more-btn a{
    font-size: 18px;
    font-weight: 500;
    color: #555555;
    letter-spacing: 0.2px;
    line-height: 18px;
}

.learn-more-btn i{
    width: 33px;
    height: 33px;
    display: inline-block;
    background-color: rgba(216,216,216, 0.3);
    border-radius: 100%;
    position: relative;
    top: -8px;
    margin-left: 10px;
    text-align: center;
    vertical-align: text-top;
    line-height: 34px;
    font-style: normal;
    font-size: 22px;
    padding-left: 1px;
}

.learn-more-btn{
    display: block;
    text-align: right;
    line-height: 18px;
    margin-top: 40px;
}

.sound-science p{
    font-size: 17px;
    line-height: 1.76;
    max-width: 765px;
    margin-top: 52px;
}

.sound-science{margin-top: 105px;}

.sound-science img{margin-top: 45px;}

.testimonials{
    margin-top: 167px;
    margin-bottom: 239px;
}

.testimonial-item{
    max-width: 500px;
    margin: 0 auto;
}

.testimonials h2{
    margin-bottom: 52px;
}

.testimonial-item .info{
    letter-spacing: 0.2px;
    color: #232323;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    margin-top: 30px;
}

.step-no{
    width: 21px;
    height: 21px;
    display: inline-block;
    border: 2px solid rgba(151,151,151, 0.18);
    border-radius: 100%;
    font-size: 13px;
    color: #707070;
    text-align: center;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    float: left;
    position: relative;
    top: 4px;
    margin-right: 12px;
    padding-top: 1px;
}

.steps p{
    overflow: hidden;
    max-width: 242px;
}

.steps .row{ margin-top: 103px; }

.step-icon{
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat; 
    display: block;
    margin-bottom: 30px;
    margin-left: 103px;
    height: 49px;
    background-position: center;
}

.icon1{
    background-image: url(../img/step1.png);
    width: 52px;
    -webkit-background-size: 52px;
    background-size: 52px;
}

.icon2{
    background-image: url(../img/step2.png);
    width: 49px;
    -webkit-background-size: 49px;
    background-size: 49px;
    margin-left: 113px;
}

.icon3{
    background-image: url(../img/step3.png);
    width: 78px;
    -webkit-background-size: 78px;
    background-size: 78px;
}

section.learn-more{
    margin-top: 180px;
    margin-bottom: 194px;
}

.buttons{
    margin-top: 39px;
}

.buttons a{
    line-height: 1.88;
    letter-spacing: 0.3px;
    color: #848484;
    font-size: 16px;
    width: 144px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 100% 0, 0 0, from(rgba(182,231,237,0.69) 0%), to(rgba(255,222,223,0.69)) 50%) 1 1%;
    -webkit-border-image: 
      -webkit-linear-gradient(right, rgba(182,231,237,0.69) 0%, rgba(255,222,223,0.69) 50%) 1 1%;
    -moz-border-image:
      -moz-linear-gradient(right, rgba(182,231,237,0.69) 0%, rgba(255,222,223,0.69) 50%) 1 1%;  
    -o-border-image:
      -o-linear-gradient(right, rgba(182,231,237,0.69) 0%, rgba(255,222,223,0.69) 50%) 1 1%;
    border-image:
      linear-gradient(to right, rgba(182,231,237,0.69) 0%, rgba(255,222,223,0.69) 50%) 1 1%; 
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.buttons a:first-child{margin-right: 27px;}

.buttons a:hover{color: #575757; font-weight: 500;}

.copy-text p{
    line-height: 1.71;
    letter-spacing: 0.1px;
    color: #868686;
    font-size: 7px;
    max-width: 595px;
}

/* Footer */

footer{
    margin-top: 9px;
    padding-top: 20px;
    padding-bottom: 13px;
    border-top: 1px solid #f0f0f0;
}

.contact-info,
.contact-info a{
    line-height: 11px;
    letter-spacing: 0.3px;
    font-size: 11px;
    color: #ababab;
}

.location{
    display: block; 
    line-height: 16px;
    margin-top: 5px;
}

.contact-info .tel{margin-right: 7.5px;}

.social span{
    letter-spacing: 1.4px;
    color: #5b5b5b;
    font-size: 11px;
    margin-bottom: 14px;
    display: inline-block;
    line-height: 11px;
}

.social a img{opacity: 0.88;}

.social a:hover img{opacity: 1;}

.facebook-icon{margin-right: 19px;}

.copyright,
.copyright a{
    margin-top: 16px;
    letter-spacing: 1.3px;
    color: #999999;
    font-size: 8px;
    line-height: 8px;
}

.contact-info{margin-top: 15px;}

@media (min-width: 1200px){
    .container {
        width: 1024px;
    }
    
    .sound-science{margin-left: 127px;}
    
    .steps .container{padding-left: 53px; padding-right: 50px;}

    .copy-text p,
    .contact-info,
    .social{margin-right: 10px;}
}

@media (min-width: 992px){
    .navbar-right{margin-right: 24px;}
    .navbar>.container .navbar-brand{margin-left: 27px;}
    
    .about-us-rows .row:nth-child(odd) .content{ padding-left: 50px; }
    .about-us-rows .row:nth-child(even) .content{ padding-left: 50px; }
    
}

@media (max-width: 991px){
    .navbar>.container .navbar-brand{margin-left: 0px;}
    
    .hero-bg{background-size: 930px;}
    
    .about-us-rows h3{margin-top: 25px;}
    
    section.about{padding-top: 70px;}
    
    .sound-science,
    .about-us{margin-bottom: 70px;}
    
    .testimonials{margin-top: 20px; margin-bottom: 100px;}
    
    .sound-science img{
        float: none !important;
        margin-left: auto;
        margin-right: auto;
    }
    
    .steps .row{margin-top: 60px;}
    
    section.learn-more{margin: 80px 0;}
    
}

@media (min-width: 768px) and (max-width: 991px){
    .container{width: 100%;}
    .about-us-rows .row p{margin-right: 15px;}
}

@media (min-width: 768px){
    .navbar-default .navbar-nav>li>a{padding-top: 23px; padding-bottom: 24px; padding-right: 17px;}
    
    .about-us-rows .container{padding: 0;}

    .about-us-rows .row{margin: 0;}
    
    .about-us-rows .row:nth-child(odd) .content{ padding-left: 30px; }
    .about-us-rows .row:nth-child(even) .content{ padding-left: 30px; }
    
    .about-us-rows .col-sm-6{padding: 0;}
    
     .mobile-content{display: none;}
}

@media (max-width: 767px){
    .navbar-brand{ margin-left: 15px !important; }
    
    .navbar-default .navbar-nav>li>a{
        font-size: 14px;
        padding: 15px 0;
    }
    
    .navbar-default .navbar-collapse{
        text-align: center;
        border-top: solid 1px #f3f3f3;
        background-color: #fff;
        margin-top: 4px;
        border-bottom: solid 1px #f3f3f3;
    }
    
    .hero-bg{background-size: contain; height: 350px;}
    
    .desktop-content{display: none;}
    
    .content{text-align: center;}
    
    .about-us-rows .row p{max-width: none !important; margin-bottom: 35px;}
    
    .about-us-rows img{margin: 0 auto; margin-bottom: 30px;}
    
    .learn-more-btn{text-align: center;}
    
    .sound-science h2{text-align: center;} 
    
    .step p{max-width: none;}
    
    .step div{
        max-width: 433px;
        margin: 0 auto;
    }
    
    .step{margin-bottom: 40px;}
    .step:last-child{margin-bottom: 0;}
    
    .step-icon{margin-left: auto !important; margin-right: auto;}
    
    .copy-text p{font-size: 11px;}
    
    .contact-info{text-align: center; font-size: 14px;}
    
    .social{float: none !important; text-align: center; margin-top: 20px;}
    
    .social p{text-align: center;}
    
    .social p,
    .copyright a{font-size: 12px; line-height: normal;}
    
    .contact-info a,
    .social span{font-size: 14px; line-height: normal;}

}

@media (max-width: 650px){
    .hero-desktop{display: none;}
    .hero-mobile{display: block;}
    
    .hero-mobile .hero-content{
        margin:  30px 0;
        margin-bottom: 0;
        text-align: center;
    }
    
    .hero-bg{
        height: 280px;
        background-position: left;
    }
    
    .about-us-rows .col-sm-6:not(.content){padding: 0;}
    
}

@media (max-width: 480px){
    .hero-bg{
        height: 250px;
        background-size: 440px;
        background-position: -50px;
    }
    
    .contact-info .tel{display: block;}
    .contact-info a{
        overflow: hidden;
        display: inline-block;
        text-indent: -15px;
        margin-top: 5px;
    }
    
    .copyright a{display: block; margin-top: 5px;}
}

@media (max-width: 380px){
    .hero-bg{
        height: 250px;
        background-size: 440px;
        background-position: -120px;
    }
}
